@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway:wght@300;700;900&display=swap");
/* specification */
body {
  background: url(../img/body_bg.png) 50% no-repeat;
  background-attachment: fixed;
  background-size: 100vw;
  background-color: #ccc;
  font-family: 'Roboto', sans-serif; }

ul, li {
  display: block;
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

h1, h2, h3, h4, h5 {
  font-weight: 700;
  color: #000; }

h3 {
  font-weight: 400; }

h2 {
  text-align: center; }

p {
  letter-spacing: 1px; }

.back {
  opacity: .1; }

.ba-container {
  /* background-image: url(http://pngimg.com/uploads/music_notes/music_notes_PNG6.png);
	background-repeat: */ }

/* header */
.header {
  width: 100%;
  z-index: 100; }
  .header__container {
    background-color: #FF7F00;
    padding: 1rem; }
  .header__logo {
    width: 160px;
    border-radius: 10px; }
  .header__title {
    font-family: 'Pacifico';
    font-size: 3rem;
    color: #FFD700;
    margin-bottom: 0; }
  .header__text {
    font-family: 'Pacifico';
    font-size: 1.5rem;
    color: #fff;
    text-align: right;
    margin-bottom: 1.5rem; }
  .header__credo {
    font-size: 0.8rem;
    color: #FFFFFF;
    margin-bottom: 0.5rem;
    overflow: hidden;
    letter-spacing: 2px; }
    .header__credo span {
      font-weight: 700; }
  .header nav {
    display: block;
    width: 60%;
    margin: 0 auto; }
  .header__menu {
    padding-top: 1.2rem; }
  .header__menu-item {
    margin: 0 1.5rem; }
    .header__menu-item a {
      color: #fff;
      text-transform: uppercase;
      /* font-family: 'Pacifico'; */ }
      .header__menu-item a:hover {
        box-shadow: 0px 0px 17px 0px gold;
        -webkit-box-shadow: 0px 0px 17px 0px gold;
        -moz-box-shadow: 0px 0px 17px 0px gold; }
      .header__menu-item a:active {
        color: #FFD700; }
  .header__img {
    width: 100%; }

/* about */
.about {
  /* background: url(../img/back15.png) 50% no-repeat;
	background-attachment: fixed; */
  /* padding-top: 2rem;
	padding-bottom: 2.5rem; */ }
  .about__container {
    background-color: #FFFFFF;
    padding-top: 1.5rem;
    padding-bottom: 3rem; }
  .about__title {
    font-family: 'Pacifico';
    font-size: 2.2rem;
    color: #FF7F00;
    margin-bottom: 1.5rem; }
  .about__text {
    margin-bottom: 2rem;
    /* font-weight: 700; */ }
    .about__text b {
      font-weight: 900;
      text-transform: uppercase; }
    .about__text span {
      font-style: italic;
      font-weight: 700; }
  .about__btn {
    display: block;
    padding: 10px 12px;
    margin: 0 auto;
    border: 0;
    background-color: #FF7F00;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700; }
    .about__btn:hover {
      color: #FFFFFF;
      background-color: #FF7F00;
      opacity: .7; }
    .about__btn:visited {
      color: #FFFFFF;
      background-color: #FF7F00; }

/* experience */
.experience__container {
  background-color: #FF7F00;
  padding-top: 1.5rem;
  padding-bottom: 3rem; }

.experience__img {
  width: 100%; }

.experience__title {
  font-family: 'Pacifico';
  font-size: 2.2rem;
  font-weight: 700;
  color: #FFFFFF; }

.experience__text {
  color: #fff; }

/* gallery */
.gallery__container {
  background-color: #FFFFFF;
  padding-top: 1.5rem;
  padding-bottom: 3rem; }

.gallery__title {
  font-family: 'Pacifico';
  font-size: 2.2rem;
  font-weight: 700;
  color: #FF7F00;
  margin-bottom: 1.5rem; }

.middlesssss {
  padding-top: 1rem;
  padding-bottom: 1rem; }
  .middlesssss h4 {
    font-size: 1.8rem; }
  .middlesssss p span {
    font-weight: 700; }
  .middlesssss hr {
    margin-bottom: 1.5rem; }

.smile {
  display: block;
  width: 120px;
  margin: 0 auto; }

.docs__container {
  background: -webkit-gradient(linear, left top, right top, from(#FFFFFF), to(#FF7F00));
  background: -webkit-linear-gradient(left, #FFFFFF 0%, #FF7F00 100%);
  background: -o-linear-gradient(left, #FFFFFF 0%, #FF7F00 100%);
  background: linear-gradient(90deg, #FFFFFF 0%, #FF7F00 100%);
  padding-top: 2rem;
  padding-bottom: 3rem; }

.docs__title {
  font-family: 'Pacifico';
  font-size: 2.2rem;
  font-weight: 700;
  color: #FF7F00;
  margin-bottom: 1.5rem; }

.docs__img {
  width: 70%; }

/* footer */
.footer__container {
  background-color: #FF7F00;
  padding-top: 3rem;
  padding-bottom: 3rem; }

/* media queries */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .header {
    padding: 0.5rem 1rem 0.5rem; }
    .header__container {
      border-radius: 15px; }
    .header__title {
      font-size: 3.2rem;
      line-height: 4rem;
      padding-left: 1rem; }
    .header__menu {
      padding-top: 0.5rem; }
  .about,
  .experience,
  .docs,
  .footer {
    padding: 0.5rem 1rem 0.5rem; }
    .about__container,
    .experience__container,
    .docs__container,
    .footer__container {
      border-radius: 15px; }
  .gallery {
    padding: 0.5rem 1rem 0.5rem; }
    .gallery__container {
      border-radius: 15px; }
    .gallery__btn {
      display: block;
      width: 80%;
      margin: 0.6rem auto; }
  .sorry {
    margin-top: 1.5rem;
    padding-top: 0; } }

@media (min-width: 768px) and (max-width: 991.98px) {
  .header {
    padding: 0.5rem 1rem 0.5rem; }
    .header__container {
      border-radius: 15px; }
    .header__title {
      font-size: 2.3rem;
      padding-left: 2rem;
      text-align: center; }
    .header__text {
      font-size: 1.8rem; }
    .header nav {
      display: block;
      width: 100%;
      margin: 0 auto; }
    .header__menu {
      margin-left: 2.5rem; }
    .header__menu-item a {
      font-size: 0.8rem; }
  .about {
    padding: 0.5rem 1rem 0.5rem; }
    .about__container {
      border-radius: 15px; }
    .about__title {
      font-size: 2rem;
      margin-bottom: 1.2rem; }
    .about__text {
      margin-bottom: 1rem; }
  .experience {
    padding: 0.5rem 1rem 0.5rem; }
    .experience__container {
      border-radius: 15px; }
    .experience__img {
      display: block;
      width: 60%;
      margin: 0 auto 1rem; }
    .experience__title {
      font-size: 2rem;
      margin: 0; }
  .gallery {
    padding: 0.5rem 1rem 0.5rem; }
    .gallery__container {
      border-radius: 15px; }
    .gallery__title {
      font-size: 2rem;
      margin-bottom: 1.5rem; }
    .gallery__carousel {
      margin-bottom: 1.5rem; }
  .docs {
    padding: 0.5rem 1rem 0.5rem; }
    .docs__container {
      background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #FFFFFF), to(#FF7F00));
      background: -webkit-linear-gradient(top, #FFFFFF 20%, #FF7F00 100%);
      background: -o-linear-gradient(top, #FFFFFF 20%, #FF7F00 100%);
      background: linear-gradient(180deg, #FFFFFF 20%, #FF7F00 100%);
      border-radius: 15px; }
    .docs__title {
      font-size: 2rem;
      color: #FF7F00;
      text-align: center;
      font-weight: 700; }
    .docs__img {
      display: block;
      width: 30%;
      margin: 0 auto; }
  .smile {
    display: none; }
  .footer {
    padding: 0.5rem 1rem 0.5rem; }
    .footer__container {
      border-radius: 15px; } }

@media (min-width: 576px) and (max-width: 767.98px) {
  .header {
    padding: 1.5rem 2rem 0.75rem; }
    .header__container {
      border-radius: 20px; }
    .header__logo {
      display: block;
      margin: 1rem auto 1rem;
      width: 30%; }
    .header__title {
      font-size: 2rem;
      text-align: center;
      margin-bottom: 0; }
    .header__text {
      font-size: 1.5rem;
      text-align: center; }
    .header nav {
      display: block;
      width: 100%;
      margin: 0 auto; }
    .header__menu {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .header__menu-item {
      margin: 0 1.5rem; }
      .header__menu-item a {
        font-size: 0.7rem;
        text-decoration: underline; }
    .header__img {
      display: block;
      width: 25%;
      margin: 1rem auto 1rem; }
  .about {
    padding: 1.5rem 2rem 0.75rem; }
    .about__container {
      border-radius: 20px; }
    .about__title {
      font-size: 2rem;
      margin-bottom: 1rem; }
    .about__text {
      margin-bottom: 1rem; }
  .experience {
    padding: 1.5rem 2rem 0.75rem; }
    .experience__container {
      border-radius: 20px; }
    .experience__img {
      display: block;
      width: 50%;
      margin: 0 auto 1.3rem; }
    .experience__title {
      font-size: 2rem; }
    .experience__text-block {
      margin: 0; }
    .experience__text {
      text-align: center; }
  .gallery {
    padding: 1.5rem 2rem 0.75rem; }
    .gallery__container {
      border-radius: 20px; }
    .gallery__title {
      font-size: 2rem; }
    .gallery__carousel {
      margin-bottom: 1.5rem; }
    .gallery__btn {
      display: block;
      width: 50%;
      margin: 0 auto 1rem; }
  .docs {
    padding: 1.5rem 2rem 0.75rem; }
    .docs__container {
      border-radius: 20px; }
    .docs__title {
      font-size: 1.8rem;
      text-align: center;
      margin-bottom: 1.3rem; }
    .docs__img {
      display: block;
      width: 40%;
      margin: 0 auto; }
  .smile {
    display: none; }
  .footer {
    padding: 1.5rem 2rem 0.75rem; }
    .footer__container {
      border-radius: 20px; } }

@media (min-width: 320px) and (max-width: 575.98px) {
  .header {
    padding: 0;
    width: 100%;
    z-index: 100; }
    .header__container {
      padding: 1rem 1.75rem 1.75rem; }
    .header__logo {
      display: block;
      margin: 0 auto 1rem;
      width: 40%; }
    .header__title {
      font-size: 1.75rem;
      text-align: center;
      color: #FFD700;
      margin-bottom: 0; }
    .header__text {
      font-size: 1.3rem;
      text-align: center; }
    .header nav {
      display: block;
      width: 100%;
      margin: 0 auto; }
    .header__menu {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding-top: 0;
      margin-bottom: 0.7rem; }
    .header__menu-item {
      display: block;
      margin: 0.1rem; }
    .header__menu-item a {
      font-size: 0.65rem;
      font-weight: 700;
      text-decoration: underline; }
    .header__img {
      display: block;
      width: 30%;
      margin: 0 auto; }
  .about {
    padding: 2rem 1.6rem;
    background-color: #fff; }
    .about__container {
      padding: 0; }
    .about__title {
      font-size: 1.4rem; }
    .about__text {
      font-size: 0.85rem;
      color: #000000;
      text-align: left !important; }
    .about p:last-of-type {
      margin-bottom: 2rem; }
    .about__btn {
      font-size: 0.65rem;
      letter-spacing: 0.2rem; }
  .experience {
    padding: 0; }
    .experience__title {
      font-size: 1.4rem;
      margin-bottom: 1rem; }
    .experience__img-wrapper {
      padding: 0 !important; }
    .experience__img {
      display: block;
      width: 60%;
      margin: 0 auto 1rem; }
    .experience__text {
      font-size: 0.85rem;
      text-align: left; }
  .gallery {
    padding: 0; }
    .gallery__title {
      font-size: 1.4rem; }
  .docs__container {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #FFFFFF), to(#FF7F00));
    background: -webkit-linear-gradient(top, #FFFFFF 20%, #FF7F00 100%);
    background: -o-linear-gradient(top, #FFFFFF 20%, #FF7F00 100%);
    background: linear-gradient(180deg, #FFFFFF 20%, #FF7F00 100%);
    padding-top: 2rem;
    padding-bottom: 0; }
  .docs__title {
    font-size: 1.4rem;
    color: #FF7F00;
    text-align: center;
    font-weight: 700;
    margin-bottom: 0; }
  .docs__img {
    display: block;
    width: 40%;
    margin: 0 auto; }
  .sorry {
    padding-top: 0;
    font-size: 0.85rem; }
    .sorry p:first-of-type {
      text-align: center;
      border: 1px solid red; }
  .attantion {
    font-size: 1rem !important;
    line-height: 1.2; }
  .no_mgn {
    margin-left: 0; }
  .smile {
    display: none; } }

@media (min-width: 250px) and (max-width: 319px) {
  .header {
    padding: 0; }
    .header__container {
      padding-right: 0.3rem;
      padding-left: 0.3rem; }
    .header__logo {
      display: block;
      margin: 0 auto;
      width: 40%; }
    .header__title {
      font-size: 1.75rem;
      text-align: center;
      color: #FFD700;
      margin-bottom: 0; }
    .header__text {
      font-size: 1.3rem;
      text-align: center; }
    .header nav {
      display: block;
      width: 100%;
      margin: 0 auto; }
    .header__menu {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding-top: 0;
      margin-bottom: 0.7rem; }
    .header__menu-item {
      display: block;
      margin: 0.1rem; }
    .header__menu-item a {
      font-size: 0.55rem;
      font-weight: 700;
      text-decoration: underline; }
    .header__img {
      display: block;
      width: 40%;
      margin: 0 auto; }
  .about {
    padding: 0; }
    .about__title {
      font-size: 1.4rem; }
    .about__text {
      font-size: 0.85rem;
      color: #000000;
      text-align: left !important; }
    .about p:last-of-type {
      margin-bottom: 2rem; }
    .about__btn {
      font-size: 0.65rem;
      letter-spacing: 0.2rem; }
  .experience {
    padding: 0; }
    .experience__title {
      font-size: 1.4rem;
      margin-bottom: 1rem; }
    .experience__img-wrapper {
      padding: 0 !important; }
    .experience__img {
      width: 60%;
      margin: 0 auto 1rem; }
    .experience__text {
      font-size: 0.85rem;
      text-align: left; }
  .gallery {
    padding: 0; }
    .gallery__title {
      font-size: 1.4rem; }
  .docs__container {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #FFFFFF), to(#FF7F00));
    background: -webkit-linear-gradient(top, #FFFFFF 10%, #FF7F00 100%);
    background: -o-linear-gradient(top, #FFFFFF 10%, #FF7F00 100%);
    background: linear-gradient(180deg, #FFFFFF 10%, #FF7F00 100%);
    padding-top: 0;
    padding-bottom: 0; }
  .docs__title {
    font-size: 1.4rem;
    text-align: center; }
  .docs__img {
    display: block;
    margin: 0 auto; }
  .sorry {
    padding-top: 0;
    font-size: 0.85rem; }
    .sorry p:first-of-type {
      text-align: center;
      border: 1px solid red; }
  .attantion {
    font-size: 1rem !important;
    line-height: 1.2; }
  .no_mgn {
    margin-left: 0; }
  .smile {
    display: none; } }
