@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway:wght@300;700;900&display=swap');

$main-color: #FF7F00;
$title-color: #FFD700;

/* specification */
body{
	background: url(../img/body_bg.png) 50% no-repeat;
	background-attachment: fixed;
	background-size: 100vw;
	background-color: #ccc;
	font-family: 'Roboto', sans-serif;
}
ul, li{
	display: block;
	list-style-type: none;
	text-decoration: none;
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}
h1, h2, h3, h4, h5{
	font-weight: 700;
	color: #000;
}
h3{
	font-weight: 400;
}
h2{
	text-align: center;
}
p {
	letter-spacing: 1px;
}
.back {
	opacity: .1;

}

.ba-container {
	/* background-image: url(http://pngimg.com/uploads/music_notes/music_notes_PNG6.png);
	background-repeat: */
}

/* header */
.header {
	width: 100%;
	z-index: 100;
	&__container {
 		background-color: $main-color;
 		padding: 1rem;
	}
	&__logo {
		width: 160px;
		border-radius: 10px;
	}
	&__title {
		font-family: 'Pacifico';
		font-size: 3rem;
		color: $title-color;
		margin-bottom: 0;
	}
	&__text {
		font-family: 'Pacifico';
		font-size: 1.5rem;
		color: #fff;
		text-align: right;
		margin-bottom: 1.5rem;
	}
	&__credo {
		font-size: 0.8rem;
		color: #FFFFFF;
		margin-bottom: 0.5rem;
		overflow: hidden;
		letter-spacing: 2px;
		span {
			font-weight: 700;
		}
	}
	nav {
		display: block;
		width: 60%;
		margin: 0 auto;
	}
	&__menu {
		padding-top: 1.2rem;
	}
	&__menu-item {
		margin: 0 1.5rem;
		a {
			color: #fff;
			text-transform: uppercase;
			/* font-family: 'Pacifico'; */
			&:hover {
				box-shadow:0px 0px 17px 0px rgba(255,215,0,1);
				-webkit-box-shadow:0px 0px 17px 0px rgba(255,215,0,1);
				-moz-box-shadow:0px 0px 17px 0px rgba(255,215,0,1);
			}
			&:active {
				color: $title-color;
			}
		}
	}
	&__img {
		width: 100%;
	}
}


/* about */
.about {
	/* background: url(../img/back15.png) 50% no-repeat;
	background-attachment: fixed; */
	/* padding-top: 2rem;
	padding-bottom: 2.5rem; */
	&__container {
		background-color: #FFFFFF;
		padding-top: 1.5rem;
		padding-bottom: 3rem;
	}
	&__title {
		font-family: 'Pacifico';
		font-size: 2.2rem;
		color: $main-color;
		margin-bottom: 1.5rem;
	}
	&__text {
		margin-bottom: 2rem;
		/* font-weight: 700; */
		b {
			font-weight: 900;
			text-transform: uppercase;
		}
		span {
			font-style: italic;
			font-weight: 700;
		}
	}
	&__btn {
		display: block;
		padding: 10px 12px;
		margin: 0 auto;
		border: 0; 
		background-color: $main-color;
		color: #fff;
		text-transform: uppercase;
		font-weight: 700;
		&:hover {
			color: #FFFFFF;
			background-color: $main-color;
			opacity: .7;
		}
		&:visited {
			color: #FFFFFF;
			background-color: $main-color;
		}
	}
}


/* experience */
.experience {
	&__container {
		background-color: $main-color;
		padding-top: 1.5rem;
		padding-bottom: 3rem;
	}
	&__img {
		width: 100%;
	}
	&__title {
		font-family: 'Pacifico';
		font-size: 2.2rem;
		font-weight: 700;
		color: #FFFFFF;
	}
	&__text {
		color: #fff;
	}
}


/* gallery */
.gallery {
	&__container {
		background-color: #FFFFFF;
		padding-top: 1.5rem;
		padding-bottom: 3rem;
	}
	&__title {
		font-family: 'Pacifico';
		font-size: 2.2rem; 
		font-weight: 700;
		color: $main-color;
		margin-bottom: 1.5rem;
	}
}

.middlesssss {
	padding-top: 1rem;
	padding-bottom: 1rem;
	h4 {
		font-size: 1.8rem;
	}
	p {
		span {
			font-weight: 700;
		}
	}
	hr {
		margin-bottom: 1.5rem;
	}
}
.smile {
	display: block;
	width: 120px;
	margin: 0 auto;
}

.docs {
	&__container {
		background: linear-gradient(90deg, #FFFFFF 0%, $main-color 100%);
		padding-top: 2rem;
		padding-bottom: 3rem;
	}
	&__title {
		font-family: 'Pacifico';
		font-size: 2.2rem; 
		font-weight: 700;
		color: $main-color;
		margin-bottom: 1.5rem;
	}
	&__img {
		width: 70%;
	}
}


/* footer */
.footer {
	&__container {
		background-color: $main-color;
		padding-top: 3rem;
		padding-bottom: 3rem;
	}
}


/* media queries */
@media (min-width: 992px) and (max-width: 1199.98px) {
	.header{
		padding: 0.5rem 1rem 0.5rem;
		&__container {
			border-radius: 15px;
		}
		&__title {
			font-size: 3.2rem;
			line-height: 4rem;
			padding-left: 1rem;
		}
		&__menu {
			padding-top: 0.5rem;
		}
	}
	.about,
	.experience,
	.docs,
	.footer {
		padding: 0.5rem 1rem 0.5rem;
		&__container {
			border-radius: 15px;
		}
	}
	.gallery {
		padding: 0.5rem 1rem 0.5rem;
		&__container {
			border-radius: 15px;
		}
		&__btn {
			display: block;
			width: 80%;
			margin: 0.6rem auto;	
		}
	}
	.sorry {
		margin-top:1.5rem;
		padding-top: 0;
	}

}

@media (min-width: 768px) and (max-width: 991.98px) {
	.header {
		padding: 0.5rem 1rem 0.5rem;
		&__container {
			border-radius: 15px;
		}
		&__title {
			font-size: 2.3rem;
			padding-left: 2rem;
			text-align: center;
		}
		&__text {
			font-size: 1.8rem;
		}
		nav {
			display: block;
			width: 100%;
			margin: 0 auto;
		}
		&__menu {
			margin-left: 2.5rem;
		}
		&__menu-item {
			a {
				font-size: 0.8rem;
			}
		}
	}
	.about {
		padding: 0.5rem 1rem 0.5rem;
		&__container {
			border-radius: 15px;
		}
		&__title {
			font-size: 2rem;
			margin-bottom: 1.2rem;
		}
		&__text {
			margin-bottom: 1rem;
		}
	}
	.experience {
		padding: 0.5rem 1rem 0.5rem;
		&__container {
			border-radius: 15px;
		}
		&__img {
			display: block;
			width: 60%;
			margin: 0 auto 1rem;
		}
		&__title {
			font-size: 2rem;
			margin: 0;
		}
	}
	.gallery {
		padding: 0.5rem 1rem 0.5rem;
		&__container {
			border-radius: 15px;
		}
		&__title {
			font-size: 2rem; 
			margin-bottom: 1.5rem;
		}
		&__carousel {
			margin-bottom: 1.5rem;
		}
	}
	.docs {
		padding: 0.5rem 1rem 0.5rem;
		&__container {
			background: linear-gradient(180deg, #FFFFFF 20%, $main-color 100%);
			border-radius: 15px;
		}
		&__title {
			font-size: 2rem;
			color: $main-color;
			text-align: center;
			font-weight: 700;
		}
		&__img {
			display: block;
			width: 30%;
			margin: 0 auto;
		}
	}
	.smile {
		display: none;
	}
	.footer {
		padding: 0.5rem 1rem 0.5rem;
		&__container {
			border-radius: 15px;
		}
	}
}

 

@media (min-width: 576px) and (max-width: 767.98px) {
	.header {
		padding: 1.5rem 2rem 0.75rem;
		&__container {
			border-radius: 20px;
		}
		&__logo {
			display: block;
			margin: 1rem auto 1rem;
			width: 30%;
		}
		&__title {
			font-size: 2rem;
			text-align: center;
			margin-bottom: 0;
		}
		&__text {
			font-size: 1.5rem;
			text-align: center;
		}
		nav {
			display: block;
			width: 100%;
			margin: 0 auto;
		}
		&__menu {
			justify-content: center;
		}
		&__menu-item {
			margin: 0 1.5rem;
			a {
				font-size: 0.7rem;
				text-decoration: underline;
			}
		}
		&__img {
			display: block;
			width: 25%;
			margin: 1rem auto 1rem;
		}
	}
	.about {
		padding: 1.5rem 2rem 0.75rem;
		&__container {
			border-radius: 20px;
		}
		&__title {
			font-size: 2rem;
			margin-bottom: 1rem;
		}
		&__text {
			margin-bottom: 1rem;
		}
	}
	.experience {
		padding: 1.5rem 2rem 0.75rem;
		&__container {
			border-radius: 20px;
		}
		&__img {
			display: block;
			width: 50%;
			margin: 0 auto 1.3rem;
		}
		&__title {
			font-size: 2rem; 
		}
		&__text-block {
			margin: 0;
		}
		&__text {
			text-align: center;
		}
	}
	.gallery {
		padding: 1.5rem 2rem 0.75rem;
		&__container {
			border-radius: 20px;
		}
		&__title {
			font-size: 2rem; 
		}
		&__carousel {
			margin-bottom: 1.5rem;
		}
		&__btn {
			display: block;
			width: 50%;
			margin: 0 auto 1rem;
		}
	}
	.docs {
		padding: 1.5rem 2rem 0.75rem;
		&__container {
			border-radius: 20px;
		}
		&__title {
			font-size: 1.8rem;
			text-align: center;
			margin-bottom: 1.3rem;
		}
		&__img {
			display: block;
			width: 40%;
			margin: 0 auto;
		}
	}
	.smile {
		display: none;
	}
	.footer {
		padding: 1.5rem 2rem 0.75rem;
		&__container {
			border-radius: 20px;
		}
	}
}


@media (min-width: 320px) and (max-width: 575.98px) {
	.header {
		padding: 0;
		width: 100%;
		z-index: 100;
		&__container {
			padding: 1rem 1.75rem 1.75rem;
		}
		&__logo {
			display: block;
			margin: 0 auto 1rem;
			width: 40%;
		}
		&__title {
			font-size: 1.75rem;
			text-align: center;
			color: $title-color;
			margin-bottom: 0;
		}
		&__text {
			font-size: 1.3rem;
			text-align: center;
		}
		nav {
			display: block;
			width: 100%;
			margin: 0 auto;
		}
		&__menu {
			justify-content: space-between;
			padding-top: 0;
			margin-bottom: 0.7rem;
		}
		&__menu-item {
			display: block;
			margin: 0.1rem;
		}
		&__menu-item a {
			font-size: 0.65rem;
			font-weight: 700;
			text-decoration: underline;
		}
		&__img {
			display: block;
			width: 30%;
			margin: 0 auto;
		}
	}
	.about {
		padding: 2rem 1.6rem;
		background-color: #fff;
		&__container {
			padding: 0;
		}
		&__title {
			font-size: 1.4rem;
		}
		&__text {
			font-size: 0.85rem;
			color: #000000;
			text-align: left !important;
		}
		p:last-of-type {
			margin-bottom: 2rem;
		}
		&__btn {
			font-size: 0.65rem;
			letter-spacing: 0.2rem;
		}
	}
	.experience {
		padding: 0;
		&__title {
			font-size: 1.4rem;
			margin-bottom: 1rem;
		}
		&__img-wrapper {
			padding: 0 !important;
		}
		&__img {
			display: block;
			width: 60%;
			margin: 0 auto 1rem;
		}
		&__text {
			font-size: 0.85rem;
			text-align: left;
		}
	}
	.gallery {
		padding: 0;
		&__title {
			font-size: 1.4rem;
		}
	}
	.docs {
		&__container {
			background: linear-gradient(180deg, #FFFFFF 20%, $main-color 100%);
			padding-top: 2rem;
			padding-bottom: 0;
		}
		&__title {
			font-size: 1.4rem;
			color: $main-color;
			text-align: center;
			font-weight: 700;
			margin-bottom: 0;
		}
		&__img {
			display: block;
			width: 40%;
			margin: 0 auto;
		}
	}
	.sorry {
		padding-top: 0;
		font-size: 0.85rem;
		p:first-of-type {
			text-align: center;
			border: 1px solid red;
		}
	}
	.attantion {
		font-size: 1rem !important;
		line-height: 1.2;
		
	}
	.no_mgn {
		margin-left: 0;
	}
	.smile {
		display: none;
	}
}

@media (min-width: 250px) and (max-width: 319px) {
	.header {
		padding: 0;
		&__container {
			padding-right: 0.3rem;
			padding-left: 0.3rem;
		}
		&__logo {
			display: block;
			margin: 0 auto;
			width: 40%;
		}
		&__title {
			font-size: 1.75rem;
			text-align: center;
			color: $title-color;
			margin-bottom: 0;
		}
		&__text {
			font-size: 1.3rem;
			text-align: center;
		}
		nav {
			display: block;
			width: 100%;
			margin: 0 auto;
		}
		&__menu {
			justify-content: space-between;
			padding-top: 0;
			margin-bottom: 0.7rem;
		}
		&__menu-item {
			display: block;
			margin: 0.1rem;
		}
		&__menu-item a {
			font-size: 0.55rem;
			font-weight: 700;
			text-decoration: underline;
		}
		&__img {
			display: block;
			width: 40%;
			margin: 0 auto;
		}
	}
	.about {
		padding: 0;
		&__title {
			font-size: 1.4rem;
		}
		&__text {
			font-size: 0.85rem;
			color: #000000;
			text-align: left !important;
		}
		p:last-of-type {
			margin-bottom: 2rem;
		}
		&__btn {
			font-size: 0.65rem;
			letter-spacing: 0.2rem;
		}
	}
	.experience {
		padding: 0;
		&__title {
			font-size: 1.4rem;
			margin-bottom: 1rem;
		}
		&__img-wrapper {
			padding: 0 !important;
		}
		&__img {
			width: 60%;
			margin: 0 auto 1rem;
		}
		&__text {
			font-size: 0.85rem;
			text-align: left;
		}
	}
	.gallery {
		padding: 0;
		&__title {
			font-size: 1.4rem;
		}
	}
	.docs {
		&__container {
			background: linear-gradient(180deg, #FFFFFF 10%, $main-color 100%);
			padding-top: 0;
			padding-bottom: 0;
		}
		&__title {
			font-size: 1.4rem;
			text-align: center;
		}
		&__img {
			display: block;
			margin: 0 auto;
		}
	}
	.sorry {
		padding-top: 0;
		font-size: 0.85rem;
		p:first-of-type {
			text-align: center;
			border: 1px solid red;
		}
	}
	.attantion {
		font-size: 1rem !important;
		line-height: 1.2;
		
	}
	.no_mgn {
		margin-left: 0;
	}
	.smile {
		display: none;
	}
}