.docs__games {
  display: block;
  padding: 3rem 0;
  margin: 0 auto;
  width: 98%;
  background: #FFDEAD url(../img/games_bg.png) 50% no-repeat;
  background-size: 250%;
  border-radius: 10px;
  border: 5px solid #C95417;
  -webkit-box-shadow: 0px 2px 3px 2px rgba(139, 69, 19, 0.7);
  box-shadow: 0px 2px 3px 2px rgba(139, 69, 19, 0.7); }
  .docs__games h4 {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    color: #C95417;
    margin-bottom: 2rem; }
  .docs__games .ui-group {
    text-align: center;
    margin-bottom: 1rem; }
  .docs__games h5 {
    font-size: 1.5rem;
    letter-spacing: 2px;
    color: #C95417; }
